* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center;  */
}

.messenger {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar {
  width: 250px;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
}

.profile img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.profile p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.contacts {
  margin-top: 30px;
}

.contacts h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.contacts ul {
  list-style-type: none;
}

.contacts ul li {
  margin-bottom: 10px;
}

.contacts ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.contacts ul li a:hover {
  text-decoration: underline;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
}

.chat-header h2 {
  font-size: 1.5rem;
  margin: 0;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 22px;
}

.message {
  max-width: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.message.received {
  background-color: #f2f2f2;
  align-self: flex-start;
}

.message.sent {
  background-color: #007bff;
  color: #fff;
  align-self: flex-end;
}

.message p {
  margin: 0;
}

.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
}

.message-input textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  font-size: 1rem;
}

.message-input button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.message-input button:hover {
  background-color: #0056b3;
}